@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-scrolled {
  background-color: #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  transition: all 0.2s ease-in-out;
  z-index: 1000;
}

.nav-hidden {
  opacity: 0;
  position: fixed;
  transition: all 0.2s ease-in-out;
}

.nav-top {
  background-color: transparent;
  box-shadow: none;
  position: absolute;
  transition: all 0.2s ease-in-out;
}
